<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit <%= product.name %></h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name %>">
        </div>
        <br>
        <div>
            <label for="price">Price: </label>
           <input type="number" name="price" id="price" placeholder="price" value="<%= product.price %>">
        </div>
        <br>
        <div>
            <label for="category">Category: </label>
            <select name="category" id="category">
                <% for( let category of categories ) { %>
                    <option value="<%= category %>" <%= product.category === category ? 'selected': '' %>><%= category %></option>
                <% } %>
            </select>
        </div>
        <br>
        <button>Edit Product</button>
        <hr>
        <a href="/products/<%= product._id %>">Product Details</a>
        
    </form>
</body>
</html>